# =========================
# Maven
# =========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# =========================
# Logs
# =========================
*.log

# =========================
# Compiled class files
# =========================
*.class

# =========================
# VS Code
# =========================
.vscode/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Temporary files
# =========================
*.swp
*.swo